/* IMPOSTAZIONI GENERALI */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.content {
  background-image: url(../img/sfondo.png);
  background-size: auto;
  width: 450px;
}

/* HEADER */
header {
  text-align: center;
  background: linear-gradient(177deg, #05c0f7, #03789b);
  margin-left: 65px;
  margin-top: 20px;
  margin-right: 65px;
  margin-bottom: 20px;
  block-size: auto;
  padding-block: 20px;
  line-height: 50px;
  box-shadow: 2px 9px 15px -6px #000000;
}

header p {
  text-transform: uppercase;
  color: white;
}

header ul {
  list-style: none;
  line-height: 22px;
  text-transform: uppercase;
}

header a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* MAIN */

main {
  text-align: left;
  background: linear-gradient(177deg, #ffffff, #ffffff);
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 20px;
  block-size: auto;
  padding-block: 20px;
  box-shadow: 2px 9px 15px -6px #000000;
}

/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
  font-size: x-large;
  text-align: left;
  line-height: 35px;
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: bold;
}

main strong {
  color: darkmagenta;
}

main {
  font-size: small;
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle {
  color: gray;
  padding-bottom: 20px;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
