/* IMPOSTAZIONI GENERALI */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.content {
  background-image: url(../img/sfondo.png);
  background-size: auto;
  width: 450px;
}

/* HEADER */
header {
  text-align: center;
  background-image: linear-gradient(177deg, #05c0f7, #03789b);
  margin-left: 65px;
  margin-top: 20px;
  margin-right: 65px;
  margin-bottom: 20px;
  block-size: auto;
  padding-block: 20px;
  line-height: 50px;
  box-shadow: 2px 9px 15px -6px #000000;
}

header p {
  text-transform: uppercase;
  color: white;
}

header ul {
  list-style: none;
  line-height: 22px;
  text-transform: uppercase;
}

header a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/* MAIN */

main {
  text-align: left;
  background-image: linear-gradient(177deg, #ffffff, #ffffff);
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 20px;
  block-size: auto;
  padding-block: 20px;
  box-shadow: 2px 9px 15px -6px #000000;
}

/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
  font-size: x-large;
  text-align: left;
  line-height: 35px;
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: bold;
}

main strong {
  color: rgb(110, 52, 165);
  font-weight: bold;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}

.subtitle {
  color: gray;
  padding-bottom: 20px;
}

main p {
  padding-bottom: 20px;
  line-height: 20px;
}

main ul {
  padding-inline-start: 20px;
  padding-bottom: 20px;
  line-height: 22px;
}

main ol {
  padding-inline-start: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}

.code-background {
  background-color: lightgray;
  border: solid 1px;
  border-radius: 5px;
  color: black;
}

/* TABELLE */

.table-title {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 5px;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
